body {
    background-image: url('../images/trainwallpaper.jpg') 
}

.jumbotron {
    background-image: url('../images/black.jpg');
    font-family: 'Bungee', cursive;
    font-size: 70px;
    text-align: center;
    color: #CD853F;
}

.row {
    background-color:#556B2F;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    border-style: double;
    border-width: 2px;
    border-color: black;
}

.panel-heading {
    background-color: black !important;
    color: white !important;
}

.panel {
    border-color: black !important;
    background-color: 	#CD853F;
}

.btn {
    background-color: grey;
    color: black;
    border-color: black;
}

.btn-primary {
    background: grey; }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
      background-color: darkgrey !important; }
    .btn-primary.active {
      background-color: white !important; }